.kart {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  min-width: 40vw;
  max-width: 80vw;
  border: 5px solid white;
  border-radius: 30px;
}

.kart button {
  margin-top: unset;
  margin-bottom: 10px;
  background-color: rgb(70, 0, 0);
}

.kart h2 {
  color: white;
  margin: unset;
  font-size: 30px;
  width: 90vw;
}

.kart span {
  font-size: 16px;
  font-weight: bolder;
  color: white;
  width: 90vw;
  margin: 10px;
}

@media (max-width: 800px) {
  .kart h3 {
    font-size: 15px;
  }
}
